body {
	font-family: Verdana, Arial, sans-serif;
	width: 35em;
	margin: auto;
	text-align: center;
}

button {
	width: 14em;
	margin: 1em;
	padding: .5em;
}

output {
	display: block;
	margin: 1em;
	width: 30em;
	height: 8em;
	overflow: hidden;
}