body {
	font-family: Verdana, Arial, sans-serif;
	width: 50em;
	margin: auto;
	text-align: center;
}

input, output, button {
	display: block;
	margin: 1em auto;
}

input, output {
	width: 50em;
	font-family: monospace;
	font-size: 11px;
}

output {
	height: 15em;
	word-wrap: break-word;
}

button {
	width: 20em;
	margin: 3em auto;
	padding: .5em;
	font-size: large;
}